*{
    margin:0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48;
    font-weight: bold;
    color: white;
}

#sec-1{
    padding: 10px;
    background-image: url('https://in-exstatic-vivofs.vivo.com/gdHFRinHEMrj3yPG/1689846620556/ba983aebe6641a5159096e8b9caac301.jpg');
    background-size: 100% ;
    background-repeat: no-repeat;
    max-width:100%;
    max-height: max-content;
    color: white;
}

#navbar{
    display:flex ;
    justify-content: center;
    margin: 6px 55px;
}

#nav-left{
    padding: 10px;
}

#nav-left-s:hover{
    transition: ease-in 0.3s;
    fill: #F0B31C;
    cursor: pointer;
}

#nav-center{
    padding: 15px;
    margin-left: 100px;
    margin-right: 90px;
}

#nav-center a{
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    margin: 0px 18px;
}

#nav-center a:hover{
    color: #F0B31C;
    transition: ease-in 0.3s;
}

#nav-right{
    color: white;
    padding: 10px;      
    
}

#nav-right svg{
    padding: 0px 18px;
}

.nav-s{
    fill: white;
}

.nav-s:hover{
    fill: #F0B31C;
    transition: ease-in 0.3s;
    cursor: pointer;
}

#sec-1-div{
    margin: 0px 60px;
    margin-top: 130px;  
    padding: 10px;
}

#sec-1-div:hover{
    cursor: pointer;
}

#sec-1-div-top{
    height: 50px;
    width: 600px;
}

#sec-1-div-mid{
    font-size: 32px;
    line-height: 60px;
    margin-bottom: 50px;
}

#sec-1-div-mid-t{
    font-weight: 400;
    margin-bottom: 8px;
}

#sec-1-div-bottom{
    display: flex;
    justify-content: left;
    width: 480px;
    margin-bottom: 17%;
}

#sec-1-div-bottom-l{
    font-weight: bold;
    position: relative;
    border: 3px solid white;
    top: 2px;
    border-radius: 36px;
    width: 36px;
    display: inline-flex;
    justify-content:center;
    margin-right: 35px;
}

#sec-1-div-bottom p{
    font-size: 26px;
}

#sec-2{
    display: flex;
    justify-content: center;
    background-color: rgb(245,247,250);
}

#sec-2-div{
    margin: 80px;
}

.sec-2-img-container{
    width: 1360px;
    height: 600px;
    margin-bottom: 40px;
    overflow: hidden;
    border-radius: 30px;
}

.sec-2-card{
    width: 1360px;
    height: 600px;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.8s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec-2-card:hover{
    transform: scale(1.04);
}

#sec-2-card-text{
    align-content: center;
    position: absolute;
    width: 320px;
    margin:0px 165px;
}

#sec-2-card1-img{
    width: 195px;
    height: 30px;
}

#sec-2-text1{
    font-size: 28px;
    font-weight: 500;
    margin: 20px 0px;
}

#sec-2-text2{
    font-size: 19px;
    font-weight: 500;
}

#sec-2-bottom{
    color: black;
    border-radius: 36px;
    width: 36px;
    border: 2px solid black;
    display: inline-flex;
    justify-content:center;
    position: relative;
    top: 5px;
}

#sec-2-card1{
    background-image:url('./Images/sec-2-img1.jpg');
    
}

#sec-2-card2{
    background-image: url('./Images/sec-2-img2.jpg');
}

#sec-2-card-text2{
    margin: 165px;
    color: white;
    width: 380px;
}

#sec-2-card2-img{
    width: 320px;
    height: 30px;
}

#sec-2-text2{
    font-weight: 500;
}

#sec-2-text-top{
    font-size: 28px;
    font-weight: 500;
    margin: 5px;
    margin-bottom: 35px;
}

#sec-2-text-mid{
    margin-bottom: 35px;
    font-size: 28px;
    font-weight: 500;
}

#sec-2-text-bottom{
    border-radius: 36px;
    width: 36px;
    border: 2px solid white;
    display: inline-flex;
    justify-content:center;
    position: relative;
    top: 5px;
    color: white;
}

#sec-3{
    background-color: rgb(245,247,250);
    padding-bottom: 30px;
}

#sec-3-t{
    padding: 50px 80px;
}

#sec-3-text p{
    font-size: 38px;
    font-weight: 500;
}

#sec-3-imgdiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0;
}

.sec-3-cols{
    height: 850px;
    width: 430px;
    margin: 20px 0px;
    margin-bottom: 0px;
    background-color: rgb(245,247,250);
}

#sec-3-left{
    display: flex;
    flex-direction: column;
}

.sec-3-left-container{
    width: 430px;
    height: 330px;
    overflow: hidden;
    border-radius: 30px;
    margin-bottom: 34px ;
}

#sec-3-left-top{
    background-image: url('./Images/sec-3-left1.jpg');
    background-repeat: no-repeat;
    width: 430px;
    height: 330px;
    border-radius: 30px;
    transition: all 0.6s;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content:end ;
}

#sec-3-left-top:hover{
    transform: scale(1.04);
}

#sec-3-left-top-text{
    position: relative;
    bottom: 70px;
    color: white;
    font-weight: 500;
}

#sec-3-left-text-down{
    margin-top: 10px;
    font-size: 24px;
}

#sec-3-left-bottom{
    border-radius: 30px;
}

#sec-3-left-bottom-container{
    width: 430px;
    height: 260px;
    overflow: hidden;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 0px ;
}

#sec-3-left-down{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transition: all 0.6s;
}

#sec-3-left-down:hover{
    transform: scale(1.04);
}

#sec-3-left-2{
    width: 430px;
}

#sec-3-left-bottom-text{
    padding: 46px;
    margin-bottom: 0px;
    background-color: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#sec-3-left-bottom-text-top{
    font-weight: 500;
    margin-bottom: 0px;
}

#sec-3-left-bottom-text-bottom{
    font-weight: 500;
    margin-top: 36px;
    margin-bottom: 0px;
    font-size: 24px;

}

#sec-3-mid{
    margin: 20px 30px;
    margin-bottom: 0px;
    height: 670px;
    overflow: hidden;
    border-radius: 30px;
}

#sec-3-mid-img{
    background-image: url('./Images/sec-3-mid-img.jpg');
    background-repeat: no-repeat;
    background-size: 100% 670px;
    height: 670px;
    transition: all 0.6s;
    padding: 44px;
    display: flex;
    flex-direction: column;
    justify-content:flex-end ;
}

#sec-3-mid-text{
    color: white;
    font-weight: 500;
    position: relative;
    bottom: 65px;
}

#sec-3-mid-text-bottom{
    font-size: 24px;
}

#sec-3-mid-img:hover{
    transform: scale(1.04);
}

#sec-3-right-side{
    border-radius: 30px;
}

.sec-3-right-container{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    overflow: hidden;
}

#sec-3-right-top{
    width: 430px;
}

#sec-3-right-top-img{
    width: 430px;
    transition: all 0.6s;
}

#sec-3-right-top-img:hover{
    transform: scale(1.04);
}

#sec-3-right-top-textdiv{
    padding: 20px 40px;
    font-weight: 500;
    background-color: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

}

#sec-3-right-top-textdiv-top{
    color: rgb(36,41,51);
    margin-bottom: 30px;
}

#sec-3-right-top-textdiv-bottom p{
    color: rgb(36,41,51);
    font-size: 26px;
}

#sec-3-right-bottom-container{
    margin-top: 35px;
    border-radius: 30px;
    height: 330px;
    width: 430px;
}

#sec-3-right-bottom{
    padding: 40px;
    height: 330px;
    width: 430px;
    background-image: url('./Images/sec-3-right2.jpg');
    transition: all 0.6s;
    display: flex;
    flex-direction: column;
    justify-content:flex-end ;
}

#sec-3-right-bottom:hover{
    transform: scale(1.04);
}

#sec-3-right-bottom-text{
    color: white;
    font-weight: 500;
    position: relative;
    bottom: 75px;
}

#sec-3-right-bottom-text-bottom{
    font-size: 24px;
}

#sec-4{
    background-color: rgb(36,41,51);
}

#sec-4-footer{
    padding: 80px;
    padding-bottom: 5px;
}

#sec-4-top{
    color: rgb(129,133,143);
    padding-bottom: 50px;
    display: flex;
}

#sec-4-top-left{
    justify-self: flex-start;
    display: flex;
    justify-content: center;
    width: 550px;
}

.sec-4-top-left-items{
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 155px;
    /* border: 2px solid red; */
}

.sec-4-top-left-items p{
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 30px;
    
}

.sec-4-top-left-items a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: rgb(129,133,143);
    margin: 8px 0;
}

.sec-4-top-left-items a:hover{
    color: #F0B31C;
    transition: all 0.3s;
}

#sec-4-top-right{
    color: rgb(121,125,132);
    font-size: 17px;
    /* border: 3px solid white; */
    font-weight: 500;
    width: 290px;
    display: flex;
    flex-direction: column;
    position: relative;
    left:500px;

}

.sec-4-top-right-icons{
    display: flex;
    padding: 10px 0px;
    /* border: 2px solid white; */
}

#sec-4-top-right-1-left{
    background-image: url('./Images/sec-4-top-right-1.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    height:30px;
    width: 30px;
    margin-right: 5px;
}

#sec-4-top-right-2-left{
    background-image: url('./Images/sec-4-top-right-2.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    height:30px;
    width: 30px;
    margin-right: 5px;
}

#sec-4-top-right-2-left:hover{
    background-image: url('./Images/sec-4-top-right-2-hover.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    height:30px;
    width: 30px;
    margin-right: 5px;
    transition: all 0.3s;
}

#sec-4-top-right-3-left{
    background-image: url('./Images/sec-4-top-right-3.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    height:37px;
    width: 37px;
    margin-right: 5px;
}

#sec-4-top-right-3-left:hover{
    background-image: url('./Images/sec-4-top-right-3-hover.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    height:36px;
    width: 36px;
    margin-right: 5px;
    transition: all 0.3s;
}

#sec-4-top-right-4-left{
    background-image: url('./Images/sec-4-top-right-4.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    height:30px;
    width: 30px;
    margin-right: 5px;
}

.sec-4-top-right-icons-a{
    color: rgb(121,125,132);
    text-decoration: none;
    display: block;
}

.sec-4-top-right-icons-a:hover{
    color:#F0B31C;
    transition: all 0.3s;
    text-decoration: none;
    display: block;
}

#sec-4-top-icon-number{
    color: white;
    font-size: 24px;
    font-weight: 500;
}

#sec-4-top-right-4-left{
    margin-top: 35px;
}

#sec-4-top-right-4-right{
    margin-top: 35px;
}

#sec-4-top-right-4-right-icons{
    display: flex;
    margin-top: 18px;
}

#sec-4-i1{
    background-image: url('./Images/sec-4-last-1.svg');
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    margin-right: 12px;
}

#sec-4-i2{
    background-image: url('./Images/sec-4-last-2.svg');
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    margin-right: 12px;
}

#sec-4-i3{
    background-image: url('./Images/sec-4-last-3.svg');
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    margin-right: 12px;
}

#sec-4-i4{
    background-image: url('./Images/sec-4-last-4.svg');
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    margin-right: 12px;
}

#sec-4-i1:hover{
    background-image: url('./Images/sec-4-last-1-hover\'.svg');
    transition: all 0.3s;
    cursor: pointer;
}

#sec-4-i2:hover{
    background-image: url('./Images/sec-4-last-2-hover.svg');
    transition: all 0.3s;
    cursor: pointer;
}

#sec-4-i3:hover{
    background-image: url('./Images/sec-4-last-3-hover.svg');
    transition: all 0.3s;
    cursor: pointer;
}

#sec-4-i4:hover{
    background-image: url('./Images/sec-4-last-4-hover.svg');
    transition: all 0.3s;
    cursor: pointer;
}

#sec-4-middle-border{
    border: 0.3px solid rgb(63,66,73);
}

#sec-4-bottom{
    color: rgb(129,133,143);
    display: flex;
    margin: 30px 0;
    font-size: 13px;
    font-weight: 500;
}

#sec-4-b-1{
    margin-right: 10px;
}

#sec-4-bottom a{
    margin:0px 10px;
    color: rgb(129,133,143);
    text-decoration: none;
}

#sec-4-bottom a:hover{
    cursor: pointer;
}